 


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: cornsilk;
}
.heading_style{
  padding: 30px 0;
  text-align: center;
  color: coral;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: bold;
}
.cards{
  width: 100%;
  height: auto;
}
.card{
  margin: 6%;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}
.card__img{
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  
}
.card__info{
  background-color: #fff;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  background-color: #fff;
}
.card__category{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}
.card__title{
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
 
}
button{
  padding: 5px 8px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}
.active_class{
  color: red;
  background-color: cornflowerblue;
}
.btn{
  color: red;
  background-color: rgb(233, 242, 142);
}
.btn_two{
  background-color: brown;
}
.menu{
  width: 100%;
  line-height: 40px;
  justify-content: space-around ;
  background-color: coral;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.abs{  
 padding: 10px;
 margin-left: 10px;
 border-radius: 5px;
 font-weight: bold;
 text-decoration: none;
}























